## Compilação
back-end/bin/
back-end/obj/
back-end/out/

## Arquivos do Visual Studio
.vscode/
.vs/
*.ncb
*.sdf
*.opensdf
*.cachefile

back-end/.vscode/
back-end/.vs/
back-end/*.ncb
back-end/*.sdf
back-end/*.opensdf
back-end/*.cachefile

## Arquivos temporários
back-end/*.tmp
back-end/*.bak
back-end/*.swp
back-end/*~

## Node.js dependencies (NUNCA commitar)
front-end/node_modules/
backend/node_modules/
node_modules/
node_modules/
C:\Users\alcides.de.lira.neto\Documents\Projeto - Decola Tour\Sistema-DecolaTour\node_modules

## Arquivos de ambiente (NUNCA commitar)
front-end/.env
.env
*.env

## Build outputs
front-end/dist/
front-end/build/